<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"

	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
<!-- 	<context:annotation-config /> -->
<!-- 	<aop:aspectj-autoproxy /> -->
	<!-- 数据池 -->
	<!-- *在这里配置数据库参数 -->
	<!-- *在这里配置数据库参数 -->
	<!-- *在这里配置数据库参数 -->
	<!-- *在这里配置数据库参数 -->
	<!-- *在这里配置数据库参数 -->
	<!-- *在这里配置数据库参数 ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/hom9?useUnicode=true&amp;characterEncoding=UTF8&amp;serverTimezone=UTC&amp;useSSL=true"/>
		<property name="username" value="root"/>
		<property name="password" value="a971204b"/>
	</bean>
	<!-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑在这里配置数据库参数 -->
	
	<!-- 整合hibernate -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
	</bean>
	
	<!-- Action -->
	<bean id="userAction" class="action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	<bean id="gameAction" class="action.GameAction" scope="prototype">
		<property name="gameService" ref="gameService"></property>
	</bean>
	<bean id="ordersAction" class="action.OrdersAction" scope="prototype">
		<property name="ordersService" ref="ordersService"></property>
	</bean>
	<bean id="commentsAction" class="action.CommentsAction" scope="prototype">
		<property name="commentsService" ref="commentsService"></property>
	</bean>
	<bean id="adminAction" class="action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService"></property>
	</bean>
	<bean id="payReturnAction" class="action.PayReturnAction" scope="prototype">
		<property name="ordersService" ref="ordersService"></property>
		<property name="userService" ref="userService"/>
		<property name="gameService" ref="gameService"></property>
	</bean>
	
	<!-- Service -->
	<bean id="userService" class="service.UserService">
		<property name="userDao" ref="userDao"/>
	</bean>
	<bean id="gameService" class="service.GameService">
		<property name="gameDao" ref="gameDao"></property>
	</bean>
	<bean id="ordersService" class="service.OrdersService">
		<property name="ordersDao" ref="ordersDao"></property>
	</bean>
	<bean id="commentsService" class="service.CommentsService">
		<property name="commentsDao" ref="commentsDao"></property>
	</bean>
	<bean id="adminService" class="service.AdminService">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
	<!-- Dao -->
	<bean id="userDao" class="daoImpl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="gameDao" class="daoImpl.GameDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ordersDao" class="daoImpl.OrdersDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="commentsDao" class="daoImpl.CommentsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="adminDao" class="daoImpl.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>